* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100vh;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease-out all;
  -moz-transition: 0.5s ease-out all;
  -webkit-transition: 0.5s ease-out all;
}

/* colors ===================================*/

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

/* body ==================================*/

body {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
  background: url(./images/bg-desktop.svg), var(--Violet);
  background-repeat: no-repeat;
  background-size: 100%;
  
}

/* logo ===================================*/

.logo{
  padding-top: 3rem;
  padding-bottom: 2rem;
  
}

/* main ===================================*/

main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/* heading ===================================*/

.text {
  margin-top: 10%;
  max-width: 25rem;
}

.text h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: floralwhite;
  padding-bottom: 1rem;
}

.text p {
  color: floralwhite;
  text-align: justify;
  margin-bottom: 1rem;
}

/* Buttons ==================================*/

.button {
  border-radius: 45px;
  background: floralwhite;
  padding: 10px;
  width: 10rem;
  font-weight: bold;
  color: var(--Violet);
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* footer ===================================*/

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem
  

  
}


.attribution {

  bottom: 0;
  font-size: 11px;
  text-align: center;
  color: white;
  background: rgb(170, 67, 170);
  padding: 2px;
  max-height: 2rem;
  border-radius: 5px;
  
  
}
.attribution a {
  color: white;
}

.social {
  

  display: flex;
  color: white;
  margin: 0.2rem;
  text-align: center;
}

.fa-facebook-f {
  width: 16px;
}
.social i {
  margin-right: 2rem;
  border: 1px solid white;
  border-radius: 100%;
  padding: 10px;
}
.social a {
  color: white;
}
.social i:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

.social i:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* mediaquery ===================================*/

@media screen and (max-width: 880px) {
  body {
    background: url(./images/bg-mobile.svg) hsl(257, 40%, 49%);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 2rem;
  }
  .main-content {
    flex-wrap: wrap;
    text-align: center;
  }
 
  .image img {
    height: auto;
  }
 
  footer {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    padding-top: .8rem;
   
  }
  
}
