* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease-out all;
  -moz-transition: 0.5s ease-out all;
  -webkit-transition: 0.5s ease-out all;
}

/* colors ===================================*/

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

/* body ===================================*/

body {
  max-width: 1440px;
  max-height: 100vh;
  margin: auto;
  background: url(/images/bg-desktop.svg), var(--Violet);
  background-repeat: no-repeat;
  background-size: 100%;
  
}

section{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

/* logo ===================================*/

.logo img{
  width: 10em;
  padding-top: .8em;
  padding-bottom: 1em;
  
}

/* main ===================================*/

main{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
 
}




/* heading ===================================*/

.text {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  height: auto;
 
}

.heading {
  font-weight: 600;
  font-size: 2.5rem;
  color: floralwhite;
  padding-bottom: 1rem;
}

.subheading{
  font-weight: 400;
  color: floralwhite;
  margin-bottom: 1.5rem;
  max-width: 25em;
}

/* Buttons ==================================*/

.button {
  border-radius: 45px;
  background: floralwhite;
  padding: 15px;
  width: 10rem;
  font-weight: bold;
  color: var(--Violet);
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* footer ===================================*/



.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.attribution {
  font-size: 11px;
  text-align: center;
  color: white; 
}
.attribution a {
  color: white;
}

.social {
  display: flex;
  color: white;
 
  text-align: center;
}

.fa-facebook-f {
  width: 16px;
}
.social i {
  margin-right: 2rem;
  border: 1px solid white;
  border-radius: 100%;
  padding: 10px;
}
.social a {
  color: white;
}
.social i:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

.social i:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* mediaquery ===================================*/

@media screen and (max-width:  880px) {
  body {
    background: url(/images/bg-mobile.svg) hsl(257, 40%, 49%);
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 3rem;
    max-width: 80%;
    margin: auto;
   
    
  }
  *{
    margin: 0 auto;
  }
  main{
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
  
     
  }
 
  .image img{
    width: 100%;
    height: auto;
  }

  footer {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    padding-top: .5rem;
   
  }
  
  
}
