* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease-out all;
  -moz-transition: 0.5s ease-out all;
  -webkit-transition: 0.5s ease-out all;
}

/* colors ===================================*/

:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
}

/* body ===================================*/

body {
  max-height: 100vh;
  background: url(/images/bg-desktop.svg), var(--Violet);
  background-repeat: no-repeat;
  margin-top:10%;
}

/* logo ===================================*/

nav {
  margin-top: 10px;
  margin-left: 7rem;
}

/* main ===================================*/

main {
  display: flex;
  max-width: 90%;
  margin: auto;
  justify-content: space-around;
}

.main-content {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}

.image img {
  margin-right: 2rem;
  max-height: 450px;
}

/* heading ===================================*/

.text {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
}

.heading {
  font-weight: bold;
  font-size: 2.5rem;
  color: floralwhite;
}

.subheading {
  color: floralwhite;
  text-align: justify;
  margin-bottom: 1rem;
}

/* Buttons ==================================*/

.button {
  border-radius: 45px;
  background: floralwhite;
  padding: 10px;
  width: 10rem;
  font-weight: bold;
  color: var(--Violet);
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* footer ===================================*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 93%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  background: rgb(170, 67, 170);
  padding: 2px;
  border-radius: 5px;
}
.attribution a {
  color: white;
}

.social {
  display: flex;
  color: white;
  margin: 0.2rem;

  text-align: center;
}

.fa-facebook-f {
  width: 16px;
}
.social i {
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 10px;
}
.social a {
  color: white;
}
.social i:hover {
  background-color: var(--Soft-Magenta);
  color: white;
}

.social i:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* mediaquery ===================================*/

@media screen and (max-width: 990px) {
  .main-content {
    flex-wrap: wrap;
  }
  .footer {
    flex-wrap: wrap;
  }
  * {
    max-width: 100vw;
  }
}
